
html{
font-size:20px;
}


body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}


nav{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 50%;
    grid-column: 1 / 9; /* span 2 columns */
    grid-row: 1 / 3 /* start at row 1 */
}


main{
grid-column: 1/ 9;
grid-row: 3 / 9
}


/*bellow is card section*/

nav img{
    height: 60%;
    color: white;
}

nav p{
    font-family: 'Inter';
    font-size: 2.5rem;
    margin-left: 10px;
    color: white;
}

.card-container{
    margin-left:150px;
    padding-bottom: 70px;
    display: flex;
    width: 40%;
    height: 60%;
    border-bottom: 0.5px solid rgb(166, 161, 161);
}

.card-container img{
    height: 90%;
    width: auto;
}

.card-description{
    width: 60%;
    margin-left: 20px;
}

.card-location{
    display: flex;
}

.card-location a , p , img{
    margin:10px
}

.card-location  p{
    font-size: 1.3rem;
    font-weight: bold;
}

.card-location  a{
    color: #918E9B;
}


.card-description p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.card-description h1{
    font-size: 2rem;;
}

.card-description img{
    height: 5%;
    width: 5%;
}







