
@font-face {
    font-family: 'Morai-One';
    src: url(fonts/MoiraiOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "other";
    src: url(fonts/Monoton-Regular.ttf);
}

@font-face {
    font-family:"LeckerliOne" ;
    src: url(fonts/LeckerliOne-Regular.ttf);
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




h1{
    font-family: "LeckerliOne";
    background: linear-gradient(to right, rgb(254, 6, 6), rgb(17, 4, 250));
  -webkit-background-clip: text;
  -moz-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 100px;
}

