 html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(28, 185, 54);
    display: flex;
    justify-content: center;
    position: relative;
}

button{
    width: 300px;
    padding: 10px;
    border: 3px solid white;
    color: white;
    font-size: 45px;
    position: absolute;
    top: 100px;
    border-radius: 20px;
}

button:hover{
    background-color: white;
    color: black;
}


.containerP{
    position: absolute;
    top: 230px;
    left: -150px;
    width: 150px;
    height: auto;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

p{
    cursor: pointer;
}

.item{
    border: 0.5px solid white;
    margin: 15px;
    display: flex;
    width: 280px;
    justify-content: space-between;
    padding: 5px;
}

.delete{
    cursor: pointer;
    font-size: 20px;
}

.delete:hover{
    color: red;
    font-size: 22px;
}

/*body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.state{
    width: 600px ;
    height: 800px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.state-value{
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.state-value h1{
color: black;
font-size: 80px;
}

h1{
    font-size: 45px;
    color: white;
    font-weight: 900;
}

{/*body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.counter-main{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 100px;
}

.counter-buttons{
    position: absolute;
    bottom: 10px;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.counter{
    height: 150px;
    width: 150px;
    background-color: rgb(185, 170, 170);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:90px ;
    color: white;
    cursor: pointer;
}

.counter:hover{
    background-color: rgb(75, 67, 67);;
} */