html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
}


body{
 position: absolute;
 position: relative;
 top: 100px;
 width: 400px;
 height: 500px;  
 background-color: aliceblue;
}

.card-container{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;

}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.profile-container img{
    width: 40%;
}


